<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1週看透現代程式的底層邏輯 - 康鴻玩程式</title>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
    <link rel="stylesheet" href="package/bootstrap/bootstrap.min.css">
    <script src="package/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="jspkgs/vue.global.js"></script>

    <style>
        h1, h2 {
            text-decoration: underline;
            -webkit-text-decoration-color: yellow; /* safari still uses vendor prefix */
            text-decoration-color: yellow;
            text-decoration-thickness: 0.4rem;
            margin-bottom: 20px;
        }
        .high-light {
            color: white;
            background-color: red;
            font-weight: bolder;
            /* text-decoration: underline; */
            font-size: 1.5rem;
            padding: 5px;
            margin-left: 3px;
            margin-right: 3px;
            border-radius: 5px;
        }
        .card {
            margin-bottom: 10px;
        }
        .card-title {
            color: white; 
            background-color: black; 
            /* border-radius: 5px;  */
            border-radius: 5px 5px 0px 0px;
            padding: 15px;
            /* margin: -16px -16px 16px; */
        }
        .list-sub-text {
            word-break: keep-all; 
            font-size: 12px; 
            color: gray;
        }
        .main-desc {
            /* font-weight: bolder;  */
            text-align: left;
            letter-spacing: 3px;
        }
        .main-desc-high-light {
            text-decoration: underline;
            -webkit-text-decoration-color: yellow; /* safari still uses vendor prefix */
            text-decoration-color: yellow;
            font-weight: bolder;
            text-decoration-thickness: 0.2rem;
            /* margin-bottom: 20px; */
        }
        .sub-desc {
            text-align: left;
            word-break: keep-all; 
            font-size: 12px; 
        }
        .ul-context {
            text-align: left;
            color: darkgreen;
            /* font-size: 14px;  */
        }
        .ul-sub-context {
            text-align: left;
            color: gray;
            font-size: 12px; 
        }
        .ul-context-red {
            text-align: left;
            color: red;
        }
        .ul-context {
            text-align: left;
            
        }
        .newlangs-ul-context {
            text-align: left;
            color: gray;
            font-size: 12px; 
        }
        .langs-desc {
            text-align: center; 
            font-weight:bold;
        }

        /* .program-tips {
            color: red;
            font-size: 12px; 
        } */

        .del-price {
            color: gray;
        }
        .sale-price {
            color: red; 
            font-size: 25px;  
            margin: 5px;
        }
        .sale-price-tag {
            color: white; 
            background-color: red; 
            padding: 3px 7px; 
            border-radius: 5px;
        }
        .sale-btn {
            display: inline-block;
            width: 100%;
            min-width: 150px;
            max-width: 300px;
            color: white; 
            background-color: #0d6efd; 
            /* background-color: blue;  */
            padding: 5px; 
            border-radius: 5px;
            text-decoration: none;
            /* margin-left:5px; */
            /* margin-right:5px; */
        }
        .talk-btn {
            display: inline-block;
            /* width: 100%;
            min-width: 150px;
            max-width: 300px; */
            color: white; 
            background-color: #0d6efd; 
            /* background-color: blue;  */
            padding: 10px; 
            border-radius: 5px;
            text-decoration: none;
            /* margin-left:5px; */
            /* margin-right:5px; */
        }
        .sale-btn:hover {
            color: lightgray;
        }
        .step-title {
            color: brown;
            display: block;
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .day-to-class {
            color: red; 
            /* background-color: red;  */
            padding: 3px 7px; 
            border-radius: 5px;
        }
        .big-message {
            font-size: 20px;
            font-weight: bolder;
        }

    </style>
  </head>
  <body style="background-color: whitesmoke;">
    <div id="app" style="background-color: whitesmoke;">
        <div class="container" style="max-width: 800px; padding: 30px; text-align: center; background-color: whitesmoke;">
            <div>
                <!-- 1. 百萬IT學院主題 -->
                <div style="color: gray; margin-bottom: 5px;">
                    <div>百萬IT之路</div>
                    <div>階段1 - 1週看透現代程式的底層邏輯</div>
                    <!-- <div>讓你一次入門4個熱門程式語言 Python, JavaScript, Java, C#</div> -->
                </div>

                <!-- 2.前言 -->
                <div>
                    <!-- <h1 style="word-break: keep-all;">注意! AI時代寫程式就是未來</h1> -->
                    <h2 style="word-break: keep-all;">AI時代</h2>
                    <h2 style="word-break: keep-all;">人人必修的"通識"程式課</h2>
                    <h2 style="word-break: keep-all;">1週看透現代程式的底層邏輯</h2>
                    <!-- <h1 style="word-break: keep-all;">人人都能寫出一手好程式</h1> -->
                    <!-- 注意！程式設計老手、新手們! -->
                </div>

                <p style="word-wrap:break-word; line-height: 1.5;">
                    只要學會這<br>
                    <span class="high-light">現代程式的三大底層邏輯</span><br>
                    你將徹底理解程式<br/>
                    <span class="high-light">一次入門4大熱門程式語言</span><br>
                    <span class="high-light">Python、JavaScript、Java、C#</span><br>
                    <span>甚至有能力自行入門更多的熱門程式語言</span><br>
                    <span>TypeScript、Golang、Kotlin、Swift、C/C++ ...</span><br>
                    <span class="high-light">精準讓AI生成正確的程式</span><br>
                    就更不是問題了<br>
                </p>

                

                <!-- <p style="word-wrap:break-word; line-height: 1.5;">
                    這個影片帶你發現 <br>
                    <span class="high-light">現代程式的底層邏輯</span><br>
                    運用簡單的<span class="high-light">三大設計手法</span><br>
                    學會了<span class="high-light">你也能寫出一手好程式</span><br>
                    一次入門<span class="high-light">4大熱門程式語言</span><br>
                    <span class="high-light">Python、JavaScript、Java、C#</span><br>
                    <span>甚至自行入門更多的熱門程式語言</span><br>
                    <span>TypeScript、Golang、Kotlin、Swift、C/C++ ...</span><br>
                </p> -->
                
                <!-- <p style="word-wrap:break-word; line-height: 1.5;">
                    這個影片帶你發現 <br>
                    <span class="high-light">現代程式的底層邏輯</span><br>
                    <span class="high-light">三大設計手法</span><br>
                    學會了幫助你<span class="high-light">輕鬆撰寫程式</span><br>
                    一次入門<span class="high-light">4大熱門程式語言</span><br>
                    <span class="high-light">Python、JavaScript、Java、C#</span><br>
                    <span>甚至入門更多的熱門程式語言</span><br>
                    <span>TypeScript、Golang、Kotlin、Swift、C/C++ ...</span><br>
                    <span class="high-light">學會了</span><br>
                    <span class="high-light">你也能寫出一手好程式</span>
                </p> -->

                <!-- <p style="word-wrap:break-word; line-height: 1.5;">
                    這個影片帶你發現 <br>
                    <span class="high-light">現代程式的底層邏輯</span><br>
                    <span class="high-light">三大設計手法</span><br>
                    學會了幫助你<span class="high-light">輕鬆撰寫程式</span><br>
                    一次入門<span class="high-light">4大熱門程式語言</span><br>
                    <span class="high-light">Python、JavaScript、Java、C#</span><br>
                    <span>甚至入門更多的熱門程式語言</span><br>
                    <span>TypeScript、Golang、Kotlin、Swift、C/C++ ...</span>
                </p> -->




                <!-- <p style="word-wrap:break-word; line-height: 1.5;">
                    這個影片將告訴你 <br>
                    <span class="high-light">現代程式語言</span> <br>
                    <span class="high-light">底層邏輯</span> <br>
                    幫助你看透 <span class="high-light">現代程式的三大設計手法</span> <br> 
                    <span class="high-light">輕鬆入門4大熱門程式語言</span><br>
                    <span class="high-light">Python、JavaScript、Java、C#</span><br>
                    <span>甚至入門更多的熱門程式語言</span><br>
                    <span>TypeScript、Golang、Kotlin、Swift、C/C++</span>
                </p> -->

                <!-- 3.影片 -->
                <!-- src="https://www.youtube-nocookie.com/embed/u5pA4xe7agA?si=_K5HZbXZAfpd5Hlz"  -->
                <div>
                    <iframe style="width:100%; height: 57vw; max-width: 700px; max-height: 393px; border-radius:10px; border: solid" 
                        src="https://www.youtube-nocookie.com/embed/st3S7IeIFLo?si=Z7BVxzyH4hKeUOg5" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe>
                </div>

                <p>你真的需要這三大設計手法嗎? 上述的影片告訴您!</p>


                <!-- 4.是否準備好? -->
                <div v-if="isAlreadyToLearn == false">
                    <button class="btn btn-primary" v-on:click="isAlreadyToLearn = true">已看完影片，我想要學</button>
                    <br>
                    <br>
                    <br>
                </div>


                <!-- 5.禮物區 -->
                <h1>領取小禮物</h1>
                <div v-if="isSecretEnabled==true" class="row justify-content-center">
                    <div class="col-auto">
                        <input class="form-control" type="text" placeholder="輸入您在影片中的留言" v-model="inputSecret">
                        <a class="btn btn-link" v-on:click="getGift()">領取</a>
                    </div>
                </div>

                <div v-if="givenGifts.length > 0">
                    <div style="color: gray; font-size: 12px;">點擊下載您的小禮物</div>
                    <div v-for="g in givenGifts">
                        <a v-bind:href="g.url" target="_blank">
                            <img style="width: 30px;" src="imgs/icons8-gift-48.png">{{ g.name }}
                        </a>
                    </div>
                </div>


                <!-- 6.已準備好學習 -->
                <div v-if="isAlreadyToLearn == true">
                    <br>

                    <h1>課程方案</h1>
                    <!-- 6.1.方案 -->
                    <div class="row" style="text-align: center;">
                        <!-- A方案: 程序編程 -->
                        <div class="col-12 col-sm-6">
                            <div class="card">
                                <h5 class="card-title">
                                    A方案: 教會你"說"程式 <br> 
                                    <span style='font-size: 12px;'>[手法一] 程序編程</span>
                                </h5>
                                <!-- <img src='imgs/pixlr-image-generator-67694ce3a25e03c8e0403f51.png'> -->
                                
                                <div class="card-body">
                                    <!-- <h5 class="card-title">A方案: 程序編程</h5> -->
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">讓寫程式就像在說話一樣簡單</h6> -->

                                    <div class="main-desc">
                                        <span class="main-desc-high-light">沒有一個人不會說話，會說話就會寫程式</span>。
                                        程式編程幫助你將說的內容轉換為程式。
                                        <!-- <span class="main-desc-high-light">沒有一個人不會說話</span>。寫程式就像在說話，<span class="main-desc-high-light">學習以</span>
                                        「<span class="main-desc-high-light">說話</span>」
                                        <span class="main-desc-high-light">的角度來看待</span>
                                        「<span class="main-desc-high-light">寫程式</span>」這件事，你會發現寫程式確實是非常的簡單，每個人都做的到。
                                        而「<span class="main-desc-high-light">程序編程</span>」<span class="main-desc-high-light">就是在說話</span>。 -->
                                    </div>
                                    <br>
                                    <!-- <div class="langs-desc">
                                        <em><span class="big-message">一次學習4個程式語言</span></em>
                                        <span style="font-size: 13px;">Python、JavaScript、Java、C#</span>
                                    </div> -->
                                    <!-- <div class="main-desc">
                                        因為，沒有人一個不會用說話的方式描述事情發生的經過，若會的話，接下來也只是把敘述的事情轉為程式而已。
                                        你將學會透過統一的觀點，以說話的方式寫出Python、JavaScript、Java、C#不同語言的程式。
                                    </div> -->
                                    <div class="card-text">
                                        <div>
                                            <ul class="ul-context-red">
                                                <li><em><span class="big-message">一次學習4個程式語言</span><br><span style="font-size: 13px;">Python、JavaScript、Java、C#</span></em></li>   
                                                <li><em><span class="big-message">「說程式」的核心元素</span><br><span style="font-size: 13px;">變數、值與型別、陣列、流程控制、函式、註解</span></em></li>
                                                <li><em><span class="big-message">「說程式」的獨門心法</span><br><span style="font-size: 13px;">程序優先</span></em></li>
                                                <li><em><span class="big-message">3個專案實戰</span><br><span style="font-size: 13px;">BMI計算、計算機、猜數字遊戲</span></em></li>   
                                                <li><em><span class="big-message">2小時1對1觀念效正</span><br><del style="font-size: 13px;">價值 3,000</del> &nbsp;$0</em></li></li>
                                                <li><em><span class="big-message">程序編程實戰社群</span><br><del style="font-size: 13px;">價值 10,000</del> &nbsp;$0</em></li>
                                            </ul>
                                            <!-- <ul>
                                                <li class="program-tips">程式秘笈1份，超詳細註解，無需另作筆記</li>
                                            </ul> -->
                                        </div>

                                        <div>售價</div>
                                        <div v-if="isFlashSale == false">
                                            <span class="sale-price">{{ aFixedPrice }}</span>
                                        </div>
                                        <div v-else>
                                            <del class="del-price">{{ aFixedPrice }}</del>
                                            <span class="sale-price">{{ aSellingPrice }}</span>
                                            <span class="sale-price-tag">{{ aDiscount }}</span><br>
                                            <span class="sale-price-tag">{{ '限時 ' + remainTimeString }}</span><br>
                                            <span class="day-to-class">{{ dayToClassMessage }}</span>
                                        </div>

                                        <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->

                                        <br>
                                        <a class="sale-btn" href="#pay">預購</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- B方案: 物件導向 -->
                        <div class="col-12 col-sm-6">
                            <div class="card">
                                <h5 class="card-title">
                                    B方案: 教會你用程式虛擬萬物 <br>
                                    <span style='font-size: 12px;'>[手法二] 物件導向</span>
                                </h5>

                                <!-- <img src='imgs/pixlr-image-generator-67694d6c44ee2ee209e922e4.png'> -->
                                
                                <div class="card-body">
                                    <!-- <h5 class="card-title">B方案: 物件導向</h5> -->
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">用看待世界的角度看程式</h6> -->
                                    <div class="main-desc">
                                        <span class="main-desc-high-light">將萬物虛擬到程式中</span>。
                                        物件導向幫助你更直覺的將所思所想的每一樣東西虛擬到程式中，看到什麼、想到什麼，都透過物件導向變成程式的一部份。

                                        <!-- <span class="main-desc-high-light">將萬物虛擬到程式中</span>。
                                        在生活中你如何對待事物，程式中就可以如何對待事物，而這只需要透過「<span class="main-desc-high-light"></span>物件導向</span>」的手法，將萬物虛擬到程式中即可。
                                        當你學會物件導向，<span class="main-desc-high-light">你會發現</span>
                                        「<span class="main-desc-high-light">寫程式</span>」
                                        <span class="main-desc-high-light">就像在</span>
                                        「<span class="main-desc-high-light">堆積木</span>」，
                                        <span class="main-desc-high-light">透過</span>
                                        「<span class="main-desc-high-light">堆積木</span>」
                                        <span class="main-desc-high-light">來打造一個</span>
                                        「<span class="main-desc-high-light">系統</span>」。 -->
                                    </div>

    
                                    <br>
                                    
                                    <!-- <div class="langs-desc">
                                        一次學習 <br>
                                        <span style="font-size: 13px;">Python、JavaScript、Java、C#</span>
                                    </div> -->

                                    <div class="card-text">
                                        <div>
                                            <ul class="ul-context-red">
                                                <li><em><span class="big-message">一次學習4個程式語言</span><br><span style="font-size: 13px;">Python、JavaScript、Java、C#</span></em></li>   
                                                <li><em><span class="big-message">「虛擬萬物」的核心元素</span><br><span style="font-size: 13px;">類別、物件、繼承、多型、鴨子型別、介面、協定、鴨子型別</span></em></li>
                                                <li><em><span class="big-message">「虛擬萬物」的獨門心法</span><br><span style="font-size: 13px;">萬物組裝萬物、擴充又或是外掛</span></em></li>
                                                <li><em><span class="big-message">4個專案實戰</span><br><span style="font-size: 13px;">BMI計算-類別版、BMI計算-介面版、計算機-類別版、計算機-介面版</span></em></li>   
                                                <li><em><span class="big-message">2小時1對1觀念效正</span><br><del style="font-size: 13px;">價值 3,000</del> &nbsp;$0</em></li></li>
                                                <li><em><span class="big-message">物件導向實戰社群</span><br><del style="font-size: 13px;">價值 15,000</del> &nbsp;$0</em></li>
                                            </ul>
                                        </div>

                                        <div>售價</div>
                                        <div v-if="isFlashSale == false">
                                            <span class="sale-price">{{ bFixedPrice }}</span>
                                        </div>
                                        <div v-else>
                                            <del class="del-price">{{ bFixedPrice }}</del>
                                            <span class="sale-price">{{ bSellingPrice }}</span>
                                            <span class="sale-price-tag">{{ bDiscount }}</span><br>
                                            <span class="sale-price-tag">{{ '限時 ' + remainTimeString }}</span><br>
                                            <span class="day-to-class">{{ dayToClassMessage }}</span>
                                        </div>

                                        <br>
                                        <a class="sale-btn" href="#pay">預購</a>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- C方案: 函式編程 -->
                        <div class="col-12 col-sm-6">
                            <div class="card">
                                <h5 class="card-title">
                                    C方案: 教會你用函式快速組裝程式 <br>
                                    <span style='font-size: 12px;'>[手法三] 函式編程</span>
                                </h5>

                                <!-- <img src='imgs/pixlr-image-generator-67694deb4e91e21b2a360ef8.png'> -->
                                <div class="card-body">
                                    <!-- <h5 class="card-title">C方案: 函式編程</h5> -->
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">用函式簡化物件導向的複雜問題</h6> -->

                                    <div class="main-desc">
                                        <span class="main-desc-high-light">用函式的思維創造程式</span>。
                                        沒有人不會寫函式，透過函式，讓你更自由、輕鬆的組合你的系統，更是輕易組合AI的利器。
                                        <!-- 數學中，一個<span class="main-desc-high-light">函式</span>解決一個<span class="main-desc-high-light">問題</span>，多個函式解決多個問題，
                                        而<span class="main-desc-high-light">系統</span>也只是<span class="main-desc-high-light">多個問題的集合</span>，這就是<span class="main-desc-high-light">函式編程</span>的理念。
                                        同時它也解決了在大型系統下<span class="main-desc-high-light">物件導向</span>過於<span class="main-desc-high-light">複雜</span>導致系統開發與維護<span class="main-desc-high-light">失控</span>的問題。 -->
                                    </div>

                                    <br>
                                    
                                    <!-- <div class="langs-desc">
                                        一次學習 <br>
                                        <span style="font-size: 13px;">Python、JavaScript、Java、C#</span>
                                    </div> -->


                                    <div class="card-text">
                                        <div>
                                            <ul class="ul-context-red">
                                                <li><em><span class="big-message">一次學習4個程式語言</span><br><span style="font-size: 13px;">Python、JavaScript、Java、C#</span></em></li>   
                                                <li><em><span class="big-message">「函式組裝程式」的核心元素</span><br><span style="font-size: 13px;">泛型、集合、Lambda</span></em></li>
                                                <li><em><span class="big-message">「函式組裝程式」的獨門心法</span><br><span style="font-size: 13px;">分離函式與值、函式封裝運算或程序、回傳同一型別的值、高階函式</span></em></li>
                                                <li><em><span class="big-message">3個專案實戰</span><br><span style="font-size: 13px;">BMI計算-函式版、B吃雞遊戲-函式版、飲料訂製-函式版</span></em></li>   
                                                <li><em><span class="big-message">2小時1對1觀念效正</span><br><del style="font-size: 13px;">價值 3,000</del> &nbsp;$0</em></li></li>
                                                <li><em><span class="big-message">函式編程實戰社群</span><br><del style="font-size: 13px;">價值 20,000</del> &nbsp;$0</em></li>
                                            </ul>
                                        </div>

                                        <div>售價</div>
                                        <div v-if="isFlashSale == false">
                                            <span class="sale-price">{{ cFixedPrice }}</span>
                                        </div>
                                        <div v-else>
                                            <del class="del-price">{{ cFixedPrice }}</del>
                                            <span class="sale-price">{{ cSellingPrice }}</span>
                                            <span class="sale-price-tag">{{ cDiscount }}</span><br>
                                            <span class="sale-price-tag">{{ '限時 ' + remainTimeString }}</span><br>
                                            <span class="day-to-class">{{ dayToClassMessage }}</span>
                                        </div>

                                        <br>
                                        <a class="sale-btn" href="#pay">預購</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 超值方案: 程序編程 + 物件導向 + 函式編程 -->
                        <div class="col-12 col-sm-6">
                            <div class="card">
                                <!-- <h5 class="card-title solution-title">D方案: 
                                    <span style='word-break: keep-all; font-size: 18px;'>[手法一+手法二+手法三]</span>
                                    <span style='word-break: keep-all;'>程序編程</span> + 
                                    <span style='word-break: keep-all;'>物件導向</span> + 
                                    <span style='word-break: keep-all;'>函式編程</span>
                                </h5> -->


                                <h5 class="card-title">
                                    超值方案: 一次學會三大設計手法 <br>
                                    <span style='font-size: 12px;'>[手法一] 程序編程</span><br>    
                                    <span style='font-size: 12px;'>[手法二] 物件導向</span><br>
                                    <span style='font-size: 12px;'>[手法三] 函式編程</span>
                                </h5>
                                
                                <!-- <div>
                                <img display='inline' src='imgs/pixlr-image-generator-67694ce3a25e03c8e0403f51.png'>
                                <img display='inline' src='imgs/pixlr-image-generator-67694d6c44ee2ee209e922e4.png'>
                                <img display='inline' src='imgs/pixlr-image-generator-67694deb4e91e21b2a360ef8.png'>
                                </div> -->

                                <div class="card-body">
                                <!-- <h5 class="card-title solution-title">D方案: 
                                    <span style='word-break: keep-all;'>程序編程</span> + 
                                    <span style='word-break: keep-all;'>物件導向</span> + 
                                    <span style='word-break: keep-all;'>函式編程</span></h5> -->
                                <!-- <h6 class="card-subtitle mb-2 text-muted">現代程式語言的三大設計手法</h6> -->

                                <div class="main-desc">
                                    一次學會<span class="main-desc-high-light">三大設計手法</span>，你會了解現代程式語言真的是<span class="main-desc-high-light">換湯不換藥</span>，
                                    它將幫助你在寫任何程式語言時，都能運用三大設計手法「<span class="main-desc-high-light">程序編程</span>」、
                                    「<span class="main-desc-high-light">物件導向</span>」、「<span class="main-desc-high-light">函式編程</span>」寫出「<span class="main-desc-high-light">一手好程式</span>」。
                                </div>

                                <br>
                                
                                <!-- <div class="langs-desc">
                                    一次學習 <br>
                                    <span style="font-size: 13px;">Python、JavaScript、Java、C#</span>
                                </div> -->


                                <div class="card-text">
                                    <br>


                                    <div style="text-align: left;">
                                        <!-- <ul class="ul-context">
                                            <li>讓程式記憶 <span class='ul-sub-context'>- 變數、值與型別</span></li>
                                            <li>一次記憶多個資料 <span class='ul-sub-context'>- 陣列</span></li>
                                            <li>讓程式有思考的能力 <span class='ul-sub-context'>- 流程控制</span></li>
                                            <li>封裝一段程式 <span class='ul-sub-context'>- 函式</span></li>
                                            <li>用註解說人話 <span class='ul-sub-context'>- 註解</span></li>
                                            <li>專案1 BMI計算</li>
                                            <li>專案2 計算機</li>
                                            <li>專案3 猜數字遊戲</li>
                                        </ul>  

                                    
                                        <ul class="ul-context">
                                            <li>讓程式虛擬萬物 <span class='ul-sub-context'>- 類別與物件</span></li>
                                            <li>讓物件擁有多重角色 <span class='ul-sub-context'>- 繼承、多型與鴨子型別</span></li>
                                            <li>外掛物件角色 <span class='ul-sub-context'>- 介面、協定與鴨子型別]</span></li>
                                            <li>專案1 BMI計算 <span class='ul-sub-context'>- 類別版</span></li>
                                            <li>專案2 BMI計算 <span class='ul-sub-context'>- 介面協定版</span></li>
                                            <li>專案3 計算機 <span class='ul-sub-context'>- 類別版</span></li>
                                            <li>專案4 計算機 <span class='ul-sub-context'>- 介面協定版</span></li>
                                        </ul>  

                                    
                                        <ul class="ul-context">
                                            <li>讓型別參數化 <span class='ul-sub-context'>- 泛型</span></li>
                                            <li>各式收納資料的容器 <span class='ul-sub-context'>- 集合</span></li>
                                            <li>用完就丟的函式 <span class='ul-sub-context'>- Lambda</span></li>
                                            <li>專案1 計算機 <span class='ul-sub-context'>- 函式版</span></li>
                                            <li>專案2 吃雞遊戲 <span class='ul-sub-context'>- 函式版</span></li>
                                            <li>專案3 飲料訂製 <span class='ul-sub-context'>- 函式版</span></li>
                                        </ul> -->

                                        <!-- <ul class="newlangs-ul-context">
                                            <li>後續預計新增程式語言TypeScript、Golang、Kotlin、Swift、C/C++、C將自動更新，無需另行付費</li>
                                        </ul>   -->

                                        <ul class="ul-context-red">
                                            <li><em><span class="big-message">一次學習4個程式語言</span><br><span style="font-size: 13px;">Python、JavaScript、Java、C#</span></em></li>   
                                            <li><em><span class="big-message">「說程式」的核心元素</span><br><span style="font-size: 13px;">變數、值與型別、陣列、流程控制、函式、註解</span></em></li>
                                            <li><em><span class="big-message">「說程式」的獨門心法</span><br><span style="font-size: 13px;">程序優先</span></em></li>
                                            <li><em><span class="big-message">「虛擬萬物」的核心元素</span><br><span style="font-size: 13px;">類別、物件、繼承、多型、鴨子型別、介面、協定、鴨子型別</span></em></li>
                                            <li><em><span class="big-message">「虛擬萬物」的獨門心法</span><br><span style="font-size: 13px;">萬物組裝萬物、擴充又或是外掛</span></em></li>
                                            <li><em><span class="big-message">「函式組裝程式」的核心元素</span><br><span style="font-size: 13px;">泛型、集合、Lambda</span></em></li>
                                            <li><em><span class="big-message">「函式組裝程式」的獨門心法</span><br><span style="font-size: 13px;">分離函式與值、函式封裝運算或程序、回傳同一型別的值、高階函式</span></em></li>
                                            <li><em><span class="big-message">10個專案實戰</span><br><span style="font-size: 13px;">BMI計算、計算機、猜數字遊戲、BMI計算-類別版、BMI計算-介面版、計算機-類別版、計算機-介面版、BMI計算-函式版、B吃雞遊戲-函式版、飲料訂製-函式版</span></em></li>       
                                            <li><em><span class="big-message">6小時1對1觀念效正</span><br><del style="font-size: 13px;">價值 9,000</del> &nbsp;$0</em></li></li>
                                            <li><em><span class="big-message">程序編程實戰社群</span><br><del style="font-size: 13px;">價值 10,000</del> &nbsp;$0</em></li>
                                            <li><em><span class="big-message">物件導向實戰社群</span><br><del style="font-size: 13px;">價值 15,000</del> &nbsp;$0</em></li>
                                            <li><em><span class="big-message">函式編程實戰社群</span><br><del style="font-size: 13px;">價值 20,000</del> &nbsp;$0</em></li>
                                        </ul>

                                    </div>

                                    <div>售價</div>
                                    <div v-if="isFlashSale == false">
                                        <del class="del-price">{{ dFixedPrice }}</del>
                                        <span class="sale-price">{{ dSellingPrice1 }}</span>
                                        <span class="sale-price-tag">{{ dDiscount1 }}</span><br>                                        
                                    </div>
                                    <div v-else>
                                        <del class="del-price">{{ dFixedPrice }}</del>
                                        <span class="sale-price">{{ dSellingPrice2 }}</span>
                                        <span class="sale-price-tag">{{ dDiscount2 }}</span><br>
                                        <span class="sale-price-tag">{{ '限時 ' + remainTimeString }}</span><br>
                                        <span class="day-to-class">{{ dayToClassMessage }}</span>
                                    </div>

                                    <br>
                                    <a class="sale-btn" href="#pay">預購</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!-- 6.2.匯款資訊 -->
                    <div class="row" id="pay">
                        <!-- title -->
                        <div class="col-12"><h1 style="margin-bottom: 20px;">台幣匯款資訊</h1></div>

                        <!-- <div style="text-align: left;"> -->
                            <!-- step1 -->
                            <div class="col-12 col-sm-6" style="margin-bottom: 20px;border: solid blue; background-color: lightgray; border-radius:5px;">
                                <span class="step-title">Step1 | 新台幣匯款帳號</span>
                                銀行帳號：822 中國信托<br>
                                帳號：370 540 318 490<br>
                                <span style="color: gray; font-size: 12px;">註明自已的中文姓名</span>
                            </div>
                            <!-- step2 -->
                            <div class="col-12 col-sm-6"style="margin-bottom: 20px;">
                                <span class="step-title">Step2 | 匯款金額</span>

                                <div v-if="isFlashSale == false">
                                    Ａ方案：{{ aFixedPrice }}&nbsp;&nbsp;<br>
                                    B方案：{{ bFixedPrice }}&nbsp;&nbsp;<br>
                                    C方案：{{ cFixedPrice }}&nbsp;&nbsp;<br>
                                    D方案：{{ dSellingPrice1 }}
                                </div>
                                <div v-else>
                                    Ａ方案：{{ aSellingPrice }}&nbsp;&nbsp;<br>
                                    B方案：{{ bSellingPrice }}&nbsp;&nbsp;<br>
                                    C方案：{{ cSellingPrice }}&nbsp;&nbsp;<br>
                                    D方案：{{ dSellingPrice2 }}
                                </div>

                            </div>
                            <!-- step3 -->
                            <div class="col-12 col-sm-6"style="margin-bottom: 20px;">
                                <span class="step-title">Step3 | 匯款完成連絡方式</span>
                                請傳Email：lokanghung@gmail.com <br>
                                或加入Line ID：0925519860&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <!-- step4 -->
                            <div class="col-12 col-sm-6"style="margin-bottom: 20px; ">
                                <span class="step-title">Step4 | 並提供</span>
                                ✓匯款帳號後4碼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                ✓你的姓名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                ✓Email(登入課程用)
                            </div>
                        <!-- </div> -->
                    </div>

                    <br>
                </div>

                <br>

                <!-- 7.與我聊聊 -->
                <h1>與我聊聊</h1>
                <div style="margin-bottom: 10px;">
                    這門課對我有幫助嗎?
                    觀迎與我聊聊。
                </div>
                <a class="talk-btn" target="_blank" href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ1KBWQ0_MHFaBtYHft-nmyJJlxpOkAMG91yAaLsg84sY2yUhYrSq88H86NFVr-sCX9S0DJrAfe5">
                    <span style="color: red; font-weight: bolder; ">Help!!!</span> 預約咨詢
                </a>

            </div>
        </div>
    </div>

    <script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                urlParams: null
                ,
                //注意，中的'月'是以0為開始的
                countDownTime: new Date(2025,6,30)
                ,
                dayToClassMessage: '7月1日 課程正式上線!'
                ,
                timeinterval: null
                ,
                day: 0
                ,
                min: 0
                ,
                hour: 0
                ,
                sec: 0
                ,
                remainTimeString: ''
                ,
                isAlreadyToLearn: false
                ,
                gifts: [
                    {key: "aaa", secrets: ["1+1週學會一個程式語言"], name: "JavaScript第1章變數", url: "https://lokanghung.github.io/pdfs/js_lite/01_var.pdf"},
                    {key: "bbb", secrets: ["4+1 API"], name: "JavaScript第2章物件", url: "https://lokanghung.github.io/pdfs/js_lite/02_obj.pdf"},
                ]
                ,
                isSecretEnabled: true
                ,
                inputSecret: ""
                ,
                keys: []
                ,
                aFixedPrice: "$6,000",
                aDiscount: "8折",
                aSellingPrice: "$4,800",
                bFixedPrice: "$7,000",
                bDiscount: "8折",
                bSellingPrice: "$5,600",
                cFixedPrice: "$8,000",
                cDiscount: "8折",
                cSellingPrice: "$6,400",
                dFixedPrice: "$21,000",
                dDiscount1: "9折",
                dSellingPrice1: "$18,900",
                dDiscount2: "65折",
                dSellingPrice2: "$13,650",
            }
        }
        ,
        mounted: function(){
            this.getUrlParams();
            this.enableSecret();
            this.showGifts();
            this.stratCountDownInterval();
        }
        ,
        computed: {
            isFlashSale: function(){
                if(this.day == 0 && this.min == 0 && this.hour == 0 && this.sec == 0)
                    return false;
                
                return true;
            }
            ,
            givenGifts: function(){
                let result = [];

                this.keys.forEach(k => {
                    this.gifts.filter(g => {
                        if(g.key == k){
                            result.push(g);
                        }
                    });
                });
                
                // console.log(result);
                return result;
            }
        }
        ,
        methods: {
			getUrlParams: function(){
				this.urlParams = {};
				let uri = window.location.href.split('?');
				if (uri.length == 2)
				{
					let vars = uri[1].split('&');
					let getVars = {};
					let tmp = '';
					vars.forEach(function(v){
						tmp = v.split('=');
						if(tmp.length == 2)
						getVars[tmp[0]] = tmp[1];
					});
					// console.log(getVars);
					this.urlParams = getVars;
				}
			}
            ,
            enableSecret: function(){
                if(this.urlParams["secret"] == "1"){
                    this.isSecretEnabled = true;
                }
            }
            ,
            showGifts: function(){
                if(this.urlParams == null || this.urlParams["keys"] == undefined){
                    return;
                }
                
                // alert(123);

                let tempString = "";
                if(this.urlParams["keys"].includes("#") == true){
                    tempString = this.urlParams["keys"].split('#')[0];
                }
                this.keys = tempString.split(',');
                // console.log(this.keys);
                // this.keys.forEach(k => {
                //     console.log(k);
                // });
            }
            ,
            getGifts: function(){
                let gs = this.gifts.filter(g => g.secrets.includes(this.inputSecret) == true);
                if(gs.length == 0){
                    alert("無效的留言，請重新輸入!");
                    return;
                }

                gs.forEach( g => {
                    if(this.keys.includes(g.key) == false){
                        this.keys.push(key);
                    }
                });

                this.inputSecret = "";
            }
            ,
            generateRemainTimeString(){
                const timeNow = new Date();
                // console.log("countDownTime:"+this.countDownTime)
                // console.log("timeNow:"+timeNow)
                const remain = this.countDownTime - timeNow;//得到的是毫秒
                // console.log(remain)
                //定義remain的剩下幾天幾時幾分幾秒
                this.sec = Math.floor(remain/1000)%60;
                this.min = Math.floor(remain/1000/60)%60;
                this.hour = Math.floor(remain/1000/60/60)%24;
                this.day = Math.floor(remain/1000/60/60/24);
                
                this.remainTimeString = '' + this.day + '天 ' +
                                        ('' + this.hour).padStart(2, '0') + ':' + 
                                        ('' + this.min).padStart(2, '0') + ':' + 
                                        ('' + this.sec).padStart(2, '0');
            }
            ,
            stratCountDownInterval(){

                //first.
                var t = this.countDownTime - (new Date());

                if(t<0){
                    clearInterval(this.timeinterval);
                }else{
                    this.generateRemainTimeString();
                }

                //interval.
                this.timeinterval = setInterval(() => {
                    var t = this.countDownTime - (new Date());

                    if(t<0){
                        clearInterval(this.timeinterval);
                    }else{
                        this.generateRemainTimeString();
                    }
                },1000);
            }
        }
    }).mount('#app');
    </script>
  </body>